:root {
  --primary-font-family: "Comfortaa", cursive;
  --secondary-font-family: "Yeseva One", cursive;
  --secondary-text-color: #fafafa;
  --primary-bg-color: #fff8f3;
  --secondary-bg-color: #a5978e;
  --primary-btn-color: #ffbd59;
  --accent-color: #bea495;
  --secondary-btn-color: #7b6152;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000000;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.btn {
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

.button {
  padding: 18px 54px;
  background-color: var(--primary-btn-color);
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-btn-color);
  color: #fff;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding-bottom: 150px;
}

.section-title {
  font-family: var(--secondary-font-family);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
}

.section-text {
  font-size: 14px;
}

.section-inner {
  display: grid;
  grid-template-columns: 370px auto;
  gap: 0 10px;
}

.section-content {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 90px;
  justify-content: center;
}

.section-decor {
  position: relative;
}

.section-decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}

.section-decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 11px;
  background-color: #7b6152;
  height: 1px;
  width: 1000%;
}

/* ------------header------------------ */
.header {
  background-color: var(--primary-bg-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu-btn {
  display: none;
  background-color: transparent;
}

.menu-list {
  display: flex;
  gap: 20px;
}

.menu-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}
.phone::before {
  content: "";
  position: absolute;
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

/* -------------------------hero--------------------- */
.main {
  background-color: var(--primary-bg-color);
  overflow-x: clip;
}

.hero {
  padding: 40px 0 150px;
}

.hero-inner {
  position: relative;
}

.hero-content {
  width: 370px;
  padding: 150px 0 250px;
}

.hero-title {
  font-family: var(--secondary-font-family);
  font-size: 30px;
  margin-bottom: 15px;
}

.hero-text {
  margin-bottom: 48px;
}

.hero-btn {
  padding: 18px 54px;
  background-color: var(--primary-btn-color);
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-btn-color);
  color: #fff;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 240px;
}
/* -----------------------about--------------------- */
.about {
  background-color: var(--secondary-bg-color);
  padding: 50px 0;
  color: var(--secondary-text-color);
}

.about-inner {
  display: flex;
  align-items: center;
}

.about-content {
  min-width: 370px;
}

.about-text:not(:last-child) {
  margin-bottom: 15px;
}

.about-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 110px;
  padding-bottom: 48px;
}

.about-item-img {
  margin-bottom: 10px;
}

.about-item-text {
  font-size: 11px;
}

/* --------------products---------------------- */

.products {
  padding-top: 150px;
}
.products-content {
  gap: 50px 56px;
}
.products-item {
  margin: 0 auto;
  width: 290px;
  text-align: center;
}
.products-item-img {
  margin-bottom: 8px;
}

.products-item-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

.products-item-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
}

.products-item-text {
  margin-bottom: 27px;
  font-size: 12px;
}

/* --------------------steps------------------- */
.steps-list {
  gap: 70px 25px;
  counter-reset: number;
}

.steps-item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}

.steps-item::before {
  counter-increment: number;
  content: "0" counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 30px;
}

.steps-item:nth-child(n + 10):before {
  content: counter(number);
}

.steps-item.steps-item-even::before {
  left: auto;
  right: 0;
}
.steps-item-text {
  padding-bottom: 40px;
  max-width: 174px;
}

/* ------------------courses----------------- */
.courses-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses-item-descr {
  margin-top: 28px;
  flex-grow: 1;
}
.courses-item-wrap {
  position: relative;
  color: #fff;
  font-family: var(--secondary-font-family);
  font-size: 11px;
}
.courses-title {
  padding: 15px;
  left: -1px;
  top: 45%;
}
.courses-time {
  padding: 7px 10px;
  left: -1px;
  top: 61%;
}
.courses-price {
  padding: 19px 10px;
  right: -14px;
  bottom: -13px;
}
.courses-time span {
  font-family: var(--primary-font-family);
  font-size: 10px;
}
.courses-title,
.courses-time,
.courses-price {
  background-color: var(--accent-color);
  position: absolute;
}

.courses-item-img {
}

/* -----------footer--------------- */

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 230px;
}

.footer-phone {
  display: block;
}
.footer-phone::before {
  background-image: none;
}

.socials-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* --------------adaptive-------------- */
@media (max-width: 1100px) {
  .products-item {
    width: 276px;
  }
  .steps-list {
    justify-items: center;
  }
  .steps-item-img {
    width: 128px;
    object-fit: cover;
  }
  .steps-item-text {
    max-width: 142px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-inner {
    grid-template-columns: 290px auto;
  }

  .section-text {
    font-size: 10px;
  }

  .hero-content {
    width: 333px;
    padding: 95px 0 70px;
  }

  .hero-text {
    margin-bottom: 30px;
  }

  .hero-img {
    left: 300px;
  }

  .hero-img-set {
    width: 655px;
  }
  /* ---------------- */
  .about-content {
    min-width: 300px;
  }
  .about-list {
    padding-left: 20px;
  }
  /* ---------------- */
  .products-content {
    gap: 67px;
  }
  .products-item {
    width: 250px;
  }

  /* ---------------- */

  .steps-title {
    font-size: 36px;
  }
  .steps-list {
    gap: 35px;
  }
  .steps-item {
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .section-inner {
    grid-template-columns: 200px auto;
  }
  .products-content {
    gap: 30px 16px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    gap: 15px;
  }

  .footer-contacts {
    width: 100%;
    text-align: center;
  }

  .socials-list {
    justify-content: center;
  }

  .steps-item-text {
    padding-bottom: 26px;
    font-size: 8px;
  }
  .steps-item-img {
    width: 86px;
  }
  .steps-list {
    gap: 25px 35px;
  }
  .steps-item {
    gap: 0 20px;
  }
  .steps-item::before {
    font-size: 20px;
  }
  .courses-price {
    right: -4px;
    bottom: -4px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  body {
    font-size: 10px;
  }
  .section-title {
    font-size: 15px;
  }
  .section-text {
    font-size: 10px;
  }
  .phone::before {
    left: -16px;
    width: 14px;
    height: 14px;
  }

  .hero-content {
    width: 230px;
  }

  .hero-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .hero-text {
    margin-bottom: 20px;
  }

  .hero-img {
    left: 180px;
  }
  /* ------------- */
  .about-content {
    min-width: 200px;
  }
  .about-list {
    margin-left: 14px;
    padding-bottom: 30px;
    gap: 10px;
  }
  .about-item-img {
    margin-bottom: 6px;
  }
  .about-item-text {
    font-size: 6px;
  }
  .about-item:nth-child(1) .about-item-img,
  .about-item:nth-child(3) .about-item-img {
    width: 120px;
  }
  .about-item:nth-child(2) .about-item-img {
    width: 190px;
  }
  /* ------------------ */

  .products-item {
    width: 180px;
  }
  .button {
    font-size: 12px;
    padding: 10px 26px;
  }

  .products-item-img {
    width: 100%;
    margin-bottom: 6px;
  }
  .products-item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }

  .products-item-title {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .products-item-text {
    font-size: 8px;
    margin-bottom: 18px;
  }
  /* -------------- */
  .courses-item-wrap {
    font-size: 8px;
  }
  .courses-title {
    padding: 10px 15px;
    top: 40%;
  }

  /* ------------------- */
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section {
    padding-bottom: 50px;
  }
  .section-content {
    padding-bottom: 50px;
  }
  .section-inner {
    display: block;
  }
  .section-descr {
    margin: 0 auto 30px;
    max-width: 300px;
    text-align: center;
  }
  .header-menu {
    order: 1;
  }

  .header-menu-list {
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px;
    padding: 25px 45px;
    z-index: 1;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    top: 77px;
    transform: translateX(100%);
  }
  .header-menu-list.menu-open {
    transform: translateX(0);
    opacity: 1;
  }

  .menu-btn {
    display: block;
  }
  .products {
    padding-top: 50px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .footer .menu-list {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 30px 0 50px;
  }
  .hero-content {
    width: 180px;
  }

  .hero-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .hero-text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .hero-btn {
    font-size: 10px;
    padding: 14px 41px;
  }

  .hero-img {
    left: 167px;
  }
  .hero-img-set {
    width: 309px;
  }
  /* --------------- */
  .about-inner {
    align-items: flex-end;
  }
  .about-content {
    min-width: 170px;
  }
  .about-list {
    margin-left: 0;
    padding-left: 10px;
    margin-bottom: 0;
    align-items: flex-end;
    gap: 5px;
  }
  .about-item-text {
    display: none;
  }
  .about-item:nth-child(1) .about-item-img,
  .about-item:nth-child(3) .about-item-img {
    width: 80px;
  }
  .about-item:nth-child(2) .about-item-img {
    width: 140px;
  }
}

@media (max-width: 400px) {
  .steps-item-img {
    width: 66px;
  }
  .steps-list {
    gap: 20px 25px;
  }

  .steps-item::before {
    font-size: 12px;
  }
  .courses-price {
    padding: 10px 16px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .section-descr {
    margin-bottom: 25px;
    max-width: 235px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .section-text {
    font-size: 8px;
  }
  .hero {
    padding: 30px 0 50px;
  }
  .hero-content {
    width: 200px;
    padding: 20px 0 0;
  }

  .hero-title {
    font-size: 18px;
  }
  .hero-text {
    font-size: 10px;
  }

  .hero-img {
    left: auto;
    right: 0;
  }
  .hero-img-set {
    width: 165px;
  }
  /* ----------------- */
  .about {
    padding: 25px 0 40px;
  }
  .about-content {
    min-width: 234px;
  }
  .about-list {
    padding-bottom: 44px;
    margin-left: 15px;
  }
  .about-item:nth-child(2) .about-item-img,
  .about-item:nth-child(3) .about-item-img {
    display: none;
  }
  /* ----------------------- */
  .products-item {
    width: 140px;
  }
  .products-content {
    gap: 40px 7px;
  }
  .button {
    font-size: 8px;
    padding: 8px 20px;
  }
  .products-item-price {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .products-item-title {
    font-size: 10px;
  }

  .products-item-text {
    margin-bottom: 16px;
  }
  .steps-item-text {
    font-size: 6px;
  }

  .courses-content {
    grid-template-columns: auto;
  }
  .courses-item {
    width: 255px;
  }
  .courses-price {
    padding: 15px;
  }
}
